<!-- app/views/user_mailer/overdue_payment_email.html.erb -->

<!DOCTYPE html>
<html>
  <body>
    <h1><%= I18n.t("mailers.user_mailer.overdue_payment_email.title") %></h1>
    <p><%= I18n.t("mailers.user_mailer.overdue_payment_email.greeting", name: @user.full_name) %></p>
    <p><%= I18n.t("mailers.user_mailer.overdue_payment_email.intro") %></p>

    <ul>
      <% @payments.each do |payment| %>
        <li>
          <%= I18n.t("mailers.user_mailer.overdue_payment_email.list_item", lot: payment.contract.lot.name, amount: number_to_currency(payment.amount), date: payment.due_date.strftime('%d-%m-%Y')) %>
        </li>
      <% end %>
    </ul>

    <p><%= I18n.t("mailers.user_mailer.overdue_payment_email.please_pay") %></p>

    <p><%= I18n.t("mailers.user_mailer.reservation_approved.thanks") %>,</p>
    <p><%= I18n.t("mailers.user_mailer.reservation_approved.thanks") %></p>
  </body>
</html>