<!DOCTYPE html>
<html>
  <body>
    <h1><%= I18n.t("mailers.user_mailer.payment_approved.title") %></h1>
    <p><%= I18n.t("mailers.user_mailer.payment_approved.greeting", name: @user.full_name) %></p>
    <p><%= I18n.t("mailers.user_mailer.payment_approved.details_intro") %></p>
    
    <ul>
      <li><strong><%= I18n.t("mailers.user_mailer.payment_approved.project", project: @contract.lot.project.name) %></strong></li>
      <li><strong><%= I18n.t("mailers.user_mailer.payment_approved.lot", lot: @contract.lot.name) %></strong></li>
      <li><strong><%= I18n.t("mailers.user_mailer.payment_approved.payment_amount", amount: number_to_currency(@payment.amount)) %></strong></li>
      <li><strong><%= I18n.t("mailers.user_mailer.payment_approved.due_date", date: @payment.due_date.strftime('%d-%m-%Y')) %></strong></li>
      <li><strong><%= I18n.t("mailers.user_mailer.payment_approved.approved_at", date: @payment.approved_at.strftime('%d-%m-%Y')) %></strong></li>
    </ul>

    <p><%= I18n.t("mailers.user_mailer.reservation_approved.thanks") %></p>

    <p><%= I18n.t("mailers.user_mailer.reservation_approved.thanks") %>,</p>
    <p><%= I18n.t("mailers.user_mailer.reservation_approved.thanks") %></p>
  </body>
</html>