<div class="container border p-4 rounded">
  <h2 class="text-center fw-bold">INVERSIONES FAMA</h2>
  
  <h5 class="fw-bold mt-4">Información general del Cliente</h5>
  <ul class="list-group mb-3">
    <li class="list-group-item">Nombre: <strong><%= @applicant.full_name %></strong></li>
    <li class="list-group-item">Identificación: <strong><%= @applicant.identity %></strong></li>
    <li class="list-group-item">Telefono: <strong><%= @applicant.phone %></strong></li>
    <li class="list-group-item">Correo: <strong><%= @applicant.email %></strong></li>
    <li class="list-group-item">Dirección: <strong><%= @applicant.address || '_______________________' %></strong></li>
  </ul>

  <h5 class="fw-bold mt-4">Información General del Terreno</h5>
  <ul class="list-group mb-3">
    <li class="list-group-item">Nombre del Proyecto: <strong><%= @project.name %></strong></li>
    <li class="list-group-item">No del Lote: <strong><%= @lot.name %></strong></li>
    <li class="list-group-item">Dimensiones: <strong><%= @lot.length %>m x <%= @lot.width %>m</strong></li>
    <li class="list-group-item">Medida: <strong><%= @lot.area_square_vara %>V^2</strong></li>
    <li class="list-group-item">Número de Contrato: <strong><%= @contract.id %></strong></li>
    <li class="list-group-item">Tipo de Financiamiento: <strong><%= @contract.financing_type.capitalize %></strong></li>
    <li class="list-group-item">Precio: <strong>L. <%= number_to_currency(@contract.amount, unit: '') %></strong></li>
    <li class="list-group-item">Reserva: <strong>L. <%= number_to_currency(@contract.reserve_amount, unit: '') %></strong></li>
    <li class="list-group-item">Prima: <strong>L. <%= number_to_currency(@contract.down_payment, unit: '') %></strong></li>
    <li class="list-group-item">Cuota: <strong>L. <%= number_to_currency(@payment.amount, unit: '') %></strong></li>
    <li class="list-group-item">Plazo: <strong><%= @contract.payment_term %></strong></li>
    <li class="list-group-item">Fecha de Inicio: <strong><%= @contract.created_at.strftime('%d/%m/%Y') %></strong></li>
    <li class="list-group-item">Fecha de Finalización: <strong><%= @payment.due_date.strftime('%d/%m/%Y') %></strong></li>
  </ul>

  <h5 class="fw-bold mt-4">Información Adicional (Referencia) </h5>
  <ul class="list-group mb-3">
    <li class="list-group-item border-top mt-2">Nombre Completo: <strong>_______________________</strong></li>
    <li class="list-group-item border-top mt-2">No. de Indentidad: <strong>_______________________</strong></li>
    <li class="list-group-item border-top mt-2">Celular: <strong>___________________________</strong></li>
    <li class="list-group-item border-top mt-2">Parentezco: <strong>___________________________</strong></li>
  </ul>

  <footer class="text-center mt-5">
    <p class="fw-bold">Generado automáticamente | Fecha: <%= Date.today.strftime('%d/%m/%Y') %></p>
  </footer>

  <div class="d-flex justify-content-between mt-10">
    <div class="text-center">
      <p class="fw-bold">FIRMA DEL CLIENTE</p>
      <p class="border-top mt-2">___________________________</p>
    </div>
    <div class="text-center">
      <p class="fw-bold">FIRMA VENDEDOR</p>
      <p class="border-top mt-2">___________________________</p>
    </div>
  </div>
</div>